# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Eclipse and IntelliJ project files
.classpath
.project
.settings/
*.iml
.idea/
*.ipr
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Maven & Gradle
target/
build/
